[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf

csharp_max_line_length = 0
csharp_insert_final_newline = true
csharp_brace_style = next_line
csharp_place_simple_embedded_statement_on_same_line = false
csharp_keep_existing_embedded_arrangement = false
csharp_place_simple_embedded_block_on_same_line = false
csharp_keep_existing_embedded_block_arrangement = false
csharp_place_simple_method_on_single_line = false
csharp_place_simple_enum_on_single_line = false
csharp_alignment_tab_fill_style = use_spaces

csharp_int_align_variables = true
csharp_int_align_assignments = true
csharp_int_align_fields = true
csharp_int_align_properties = true
csharp_int_align_property_patterns = true
csharp_int_align_parameters = true
csharp_int_align_switch_sections = true
csharp_int_align_switch_expressions = true
csharp_int_align_comments = true

csharp_align_multiline_parameter = true
csharp_align_multiline_argument = true
csharp_align_multiline_calls_chain = true
csharp_align_multiline_binary_expressions_chain = true
csharp_align_linq_query = true

csharp_align_multiline_for_stmt = true
csharp_indent_raw_literal_string = align
